// @import url("../../assets/font/SFProText-Regular.ttf");
@font-face {
    font-family: 'SFprotext';
    src: url("../../assets/font/SFProText-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: "SFprotext", sans-serif !important;
}

.clear {
    clear: both;
}
